@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  cursor: none;
}

body {
  color: $main-white;
  font-family: "Poppins", sans-serif;
}

.main-section-wrap {
  min-height: 100vh;
  background-color: $main-black;
}

.container {
  max-width: $container--width + $container--space * 2;
  width: 100%;
  margin: 0 auto;
  padding: 0 $container--space;
}

.flex {
  display: flex;
  &-column {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}

.gap {
  &-15 {
    gap: 15px;
  }
  &-50 {
    gap: 50px;
  }
  &-19 {
    gap: 19px;
  }
}

.justify {
  &-between {
    justify-content: space-between;
  }
}

.items {
  &-center {
    align-items: center;
  }
}

// header
.header {
  padding-top: 35px;
}

// main
.main {
  &-about {
    &-text {
      max-width: 442px;
      line-height: 135%;
    }
  }
}

// footer
.footer {
  padding-bottom: 38px;
}
