.logo-txt {
  font-weight: 300;
  font-size: 25px;
}

.link {
  font-weight: 400;
  font-size: 15px;
  color: $main-white;
  text-decoration: none;
  position: relative;
  &:before {
    $width: 20px;
    content: "";
    position: absolute;
    width: calc(100% + $width);
    left: -$width / 2;
    height: 1px;
    background-color: $main-white;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  &:hover,
  &-active {
    &:before {
      transform: scaleX(1);
    }
  }
}

.h1 {
  font-weight: 400;
  font-size: 55px;
}

.h3 {
  font-size: 29px;
}

.txt {
  // sizes
  &-sm {
    font-size: 12px;
  }
  &-md {
    font-size: 20px;
  }
  // colors
  &-grey {
    color: $grey;
  }
  // weight
  &-bold {
    font-weight: 700;
  }
  // align
  &-align {
    &-right {
      text-align: right;
    }
  }
  // animations
  &-anim-letter {
    position: relative;
    display: inline-block;
    /*  opacity: 0;
    filter: blur(5px);
    transform: translateY(100px); */
  }
}
